<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>User Page</title>
    <link
            href="https://cdn.metroui.org.ua/current/metro.css"
            rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/page_user.css" />
</head>
<body>
<header class="header">
    <h1>User Dashboard</h1>
    <a class="logout-btn" href="/signin">Logout</a>
    <nav class="main-nav">
        <ul class="main-nav-list">
            <li><a class="nav-btn" href="/page_edit">Edit my account</a></li>
            <li><a class="nav-btn" href="/chatroom">Create A Chat Room</a></li>
            <li><a class="nav-btn" href="">Something...</a></li>
        </ul>
    </nav>
</header>

<main class="main">
    <aside class="aside-info">
        <span th:text="${session.user.email}"></span>
        <form id="chatroom-form" th:action="@{/chatroom/createchatroom}" method="post">
            <div>
                <input type="hidden" id="email" name="email" th:value="${session.user.email}">
                <input type="hidden" id="create_date" name="create_date">
                <input type="hidden" id="is_admin" name="is_admin" th:value="${false}">
            </div>
            <div>
                <label for="chat_room_name">Chat Room Name:</label>
                <input type="text" id="chat_room_name" name="chat_room_name" required>
            </div>
            <div>
                <label for="description">Description:</label>
                <input type="text" id="description" name="description" required>
            </div>

            <div>
                <label for="expire_date">Expire Date:</label>
                <input type="datetime-local" id="expire_date" name="expire_date" required>
            </div>
            <div>
                <button type="submit">Create Chat Room</button>
            </div>
        </form>
    </aside>
    <section class="main-section">main</section>
</main>

<footer class="footer">Java Full-Stack Chatter 2024 | CHEN Zikang HOU Longhao</footer>
</body>
<script>
    document.getElementById('chatroom-form').addEventListener('submit', function(event) {
        const createDateInput = document.getElementById('create_date');
        const expireDateInput = document.getElementById('expire_date');
        const now = new Date();
        const formattedCreateDate = now.toISOString().split('.')[0]; // Format to 'YYYY-MM-DDTHH:MM:SS'
        createDateInput.value = formattedCreateDate;
        const expireDateValue = new Date(expireDateInput.value);
        if (expireDateValue <= now) {
            alert("Expire date must be after the current date and time.");
            event.preventDefault();
        }
    });
</script>
<script src="https://cdn.metroui.org.ua/current/metro.js"></script>
</html>
