<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Admin Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.metroui.org.ua/current/metro.css">
    <script src="https://cdn.metroui.org.ua/current/metro.js"></script>

    <link rel="stylesheet" href="/css/page_admin.css" />
</head>

<body>


<header class="header">

    <h1>Admin Dashboard</h1>
    <a class="logout-btn" href="/signin">Logout</a>
    <nav class="main-nav">
        <ul class="main-nav-list">
            <li><a class="nav-btn" href="/page_edit">Edit my Account</a></li>
            <li><a class="nav-btn" href="/page_admin_create">Create an Account</a></li>
            <li><a class="nav-btn" href="/user/userlist">User List</a></li>
        </ul>
    </nav>
</header>

<main class="main">
    <aside class="aside-info">
        <span th:text="${session.user.email}" id="login_email"></span>

        <form id="chatroom-form" th:action="@{/chatroom/createchatroom}" method="post">
            <div>
                <input type="hidden" id="email" name="email" th:value="${session.user.email}">
                <input type="hidden" id="create_date" name="create_date">
                <input type="hidden" id="is_admin" name="is_admin" th:value="${true}">
            </div>
            <div class="mb-3">
                <label for="chat_room_name">Chat Room Title:</label>
                <input type="text" id="chat_room_name" class="form-control" name="chat_room_name" required>
            </div>
            <div class="mb-3">
                <label for="description">Description:</label>
                <input type="text" id="description" class="form-control" name="description" required>
            </div>

            <div class="mb-5">
                <label for="expire_date">Expire Date:</label>
                <input type="datetime-local" id="expire_date" class="form-control" name="expire_date" required>
            </div>
            <div>
                <button type="submit">Create Chat Room</button>
            </div>
        </form>

    </aside>

<!--    Room List-->
    <section class="main-section">
        <h2>Created rooms</h2>
        <table class="table" id="created-rooms">
            <tr class="table_header" >
                <td class="room-id">ID</td>
                <td class="title">Title</td>
                <td class="description">Description</td>
                <td class="created-date">Created Date</td>
                <td class="expired-ate">Expire Date</td>
                <td>Action</td>
            </tr>
            <tr th:each="rooms:${session.created_rooms}" class="data-row">
                <td>
                    <span th:text="${rooms.getId()}"></span>
                </td>
                <td>
                    <span th:text="${rooms.getTitle()}"></span>
                </td>
                <td>
                    <span th:text="${rooms.getDescription()}"></span>
                </td>
                <td>
                    <span th:text="${rooms.getCreatedDate()}"></span>
                </td>
                <td>
                    <span th:text="${rooms.getExpiredDate()}"></span>
                </td>

                <td>
                    <a class="room-btn" href="javascript:;" onclick="enterChatRoom(this.getAttribute('room-id'), this.getAttribute('room-expired-date'))"
                       th:room-expired-date="${rooms.getExpiredDate()}"
                       th:room-id="${rooms.getId()}">Enter</a>
                    <a class="room-btn" href="javascript:;" th:room-id="${rooms.getId()}" th:onclick="|deleteRoom(this.getAttribute('room-id'))|">Delete</a>
                    <a class="room-btn" th:href="@{/chatroom/invite(id=${rooms.getId()})}">Invite</a>
                </td>
            </tr>
            <script>
                function enterChatRoom(roomId, roomExpiredDate) {
                    // Check if the chat room has expired
                    const now = new Date();
                    const expireDate = new Date(roomExpiredDate);
                    const isExpired = now > expireDate;

                    if (isExpired) {
                        alert("This chat room has expired.");
                    } else {
                        window.location.href = `/chatroom/${roomId}`;
                    }
                }

                function deleteRoom(roomId) {
                    if(window.confirm('Are you sure to delete this room ? ')){
                        const isAdmin = true;
                        const email = document.getElementById('login_email').innerText;
                        location.href = '[[@{/chatroom/deleteroom?id=}]]' + roomId + '&is_admin=' + isAdmin + '&email=' + email;
                    }
                }
            </script>


        </table>
        <h2>Invited rooms</h2>
        <table class="table" id="invited-rooms">
            <tr class="table_header" >
                <td class="room-id">ID</td>
                <td class="title">Title</td>
                <td class="description"> Description </td>
                <td class="created-date">Created Date</td>
                <td class="expired-ate">Expire Date</td>
                <td>Action</td>
            </tr>
            <tr th:each="invited_rooms:${session.invited_rooms}" class="data-row">
                <td>
                    <span th:text="${invited_rooms.getId()}"></span>
                </td>
                <td>
                    <span th:text="${invited_rooms.getTitle()}"></span>
                </td>
                <td>
                    <span th:text="${invited_rooms.getDescription()}"></span>
                </td>
                <td>
                    <span th:text="${invited_rooms.getCreatedDate()}"></span>
                </td>
                <td>
                    <span th:text="${invited_rooms.getExpiredDate()}"></span>
                </td>

                <td>
                    <a class="room-btn" href="javascript:;" onclick="enterChatRoom(this.getAttribute('room-id'), this.getAttribute('room-expired-date'))"
                       th:room-expired-date="${invited_rooms.getExpiredDate()}"
                       th:room-id="${invited_rooms.getId()}">Enter</a>
                    <a class="room-btn" href="javascript:;" th:room-id="${invited_rooms.getId()}" th:onclick="|quitRoom(this.getAttribute('room-id'))|">Quit</a>
                </td>
            </tr>
            <script>
                function quitRoom(id){
                    if(window.confirm('Are you sure to quit this room ? ')){
                        const isAdmin = true;
                        const email = document.getElementById('login_email').innerText;
                        location.href='[[@{/chatroom/quitroom?id=}]]'+id+ '&is_admin=' + isAdmin +'&email='+ email;
                    }
                }
            </script>
        </table>
    </section>
</main>

<footer class="footer">Java Full-Stack Chatter 2024 | CHEN Zikang HOU Longhao</footer>
</body>
<script>
    document.getElementById('chatroom-form').addEventListener('submit', function(event) {
        const createDateInput = document.getElementById('create_date');
        const expireDateInput = document.getElementById('expire_date');
        const now = new Date();
        const formattedCreateDate = now.toISOString().split('.')[0]; // Format to 'YYYY-MM-DDTHH:MM:SS'
        createDateInput.value = formattedCreateDate;
        const expireDateValue = new Date(expireDateInput.value);
        if (expireDateValue <= now) {
            alert("Expire date must be after the current date and time.");
            event.preventDefault();
        }
    });
</script>
<script src="https://cdn.metroui.org.ua/current/metro.js"></script>
</html>
