<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>userlist</title>
</head>


<body>
<table class="table">
    <tr class="table_header">
        <td>
            User ID
        </td>
        <td>
            Email
        </td>
        <td>
            Firstname
        </td>
        <td>
            Lastname
        </td>
        <td>
            Active
        </td>
        <td>
            Action
        </td>
    </tr>
    <tr th:each="normalUser,state:${normalUserList}"  th:class="${state.odd?'row1':'row2'}">
        <td>
            <span th:text="${normalUser.getId()}"></span>
        </td>
        <td>
            <span th:text="${normalUser.getEmail()}"></span>
        </td>
        <td>
            <span th:text="${normalUser.getFirstName()}"></span>
        </td>
        <td>
            <span th:text="${normalUser.getLastName()}"></span>
        </td>
        <td>
            <span th:text="${normalUser.getIsActive()} ? 'true' : 'false'"></span>
        </td>
        <td>
            <a href="javascript:;" th:data-email="${normalUser.getEmail()}" th:onclick="|deleteNormalAccount(this.getAttribute('data-email'))|">Delete account</a>
            <a href="javascript:;" th:data-email="${normalUser.getEmail()}" th:onclick="|normalChangeStatus(this.getAttribute('data-email'))|">Change status</a>
        </td>
    </tr>

    <script>
        function deleteNormalAccount(email){
            if(window.confirm('Are you sure to delete this account ? ')){
                location.href='[[@{/user/normaldelete?email=}]]'+email;
            }
        }
        function normalChangeStatus(email,admin){
            location.href='[[@{/user/normalchangestatus?email=}]]'+email;
        }

    </script>
</table>

<table class="table">
    <tr class="table_header">
        <td>
            Admin ID
        </td>
        <td>
            Email
        </td>
        <td>
            Firstname
        </td>
        <td>
            Lastname
        </td>
        <td>
            Active
        </td>
        <td>
            Action
        </td>
    </tr>
    <tr th:each="adminUser,state:${adminUserList}"  th:class="${state.odd?'row1':'row2'}">
        <td>
            <span th:text="${adminUser.getId()}"></span>
        </td>
        <td>
            <span th:text="${adminUser.getEmail()}"></span>
        </td>
        <td>
            <span th:text="${adminUser.getFirstName()}"></span>
        </td>
        <td>
            <span th:text="${adminUser.getLastName()}"></span>
        </td>
        <td>
            <span th:text="${adminUser.getIsActive()} ? 'true' : 'false'"></span>
        </td>
        <td>
            <a href="javascript:;" th:data-email="${adminUser.getEmail()}" th:onclick="|deleteAdminAccount(this.getAttribute('data-email'))|">Delete account</a>
            <a href="javascript:;" th:data-email="${adminUser.getEmail()}" th:onclick="|adminChangeStatus(this.getAttribute('data-email'))|">Change status</a>
        </td>
    </tr>
    <script>
        function deleteAdminAccount(email){
            if(window.confirm('Are you sure to delete this account ? ')){
                location.href='[[@{/user/admindelete?email=}]]'+email;
            }
        }
        function adminChangeStatus(email,admin){
            location.href='[[@{/user/adminchangestatus?email=}]]'+email;
        }
    </script>
</table>
<a href="/page_admin">return</a>

</body>
</html>