<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Admin Page</title>
    <link
            href="https://cdn.metroui.org.ua/current/metro.css"
            rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/page_admin.css" />
</head>

<body>


<header class="header">

    <h1>Admin Dashboard</h1>
    <a class="logout-btn" href="/signin">Logout</a>
    <nav class="main-nav">
        <ul class="main-nav-list">
            <li><a class="nav-btn" href="/page_edit">Edit my Account</a></li>
            <li><a class="nav-btn" href="/page_admin_create">Create an Account</a></li>
            <li><a class="nav-btn" href="/user/userlist">User List</a></li>
            <!--            TODO: Add a link to the chat room list page-->
            <!--            <li><a class="nav-btn" href="/room/chatroom/createchatroom">Create A Chat Room</a></li>-->
        </ul>
    </nav>
</header>

<main class="main">
    <aside class="aside-info">
        <span th:text="${session.user.email}"></span>
    </aside>
    <section class="main-section">Room list</section>
</main>

<footer class="footer">Java Full-Stack Chatter 2024 | CHEN Zikang HOU Longhao</footer>
</body>
<script src="https://cdn.metroui.org.ua/current/metro.js"></script>
</html>
