.chatroom-container{
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.chatroom-header {
    position:relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to bottom, #fdf2e9, white);
    flex-direction: column;
    width: 100%;
    padding: 1rem;
    height: 120px;
    margin-bottom: 5px;
}

.close-btn,
.close-btn:link,
.close-btn:visited{
    position: absolute;
    text-decoration: none;
    right:20px;
    top:20px;
    font-weight: 300;
    font-size: 20px;
}

.close-btn:hover{
    cursor: pointer;
}

.chatroom-title {
    font-weight: 700;
    color: #333;
    letter-spacing: -0.5px;
}

.chatroom-description{
    font-weight: 500;
    color: #333;
    letter-spacing: -0.5px;
}

.chat-main {
    display: flex;
    flex-grow: 1;
}

.chat-info {
    flex: 1;
    padding-right: 1rem;
    margin-left: 10px;
}

.chat-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow-x: auto;
}

.chat-container {
    flex: 3;
    border-left: 1px solid #ccc;
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    height: 80vh;
    overflow: hidden;
}

.messages {
    flex-grow: 1;
    overflow-y: auto;
    margin-bottom: 10px;
}


.message.system_message {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f1f1f1;
    border-radius: 4px;
    text-align: center;
    margin-right: 10px;
}

.message.sent {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
    background-color: #d1ffd1;
    text-align: right;
    margin-right: 10px;
}

.message.received {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
    background-color: #fdf2e9;
    text-align: left;
    margin-right: 10px;
}



.message-input{
    width:80%;
}

.send-message-area {
    display: flex;
    margin-top: auto;
}

.send-btn{
    margin-left: 10px;
    display: inline-block;
    text-decoration: none;
    border-radius: 9px;
    transition: all 150ms;
    cursor: pointer;
    border: none;
    background-color: #e67e22;
    color: #fff;
}
.send-btn:hover {
    background-color: #cf711f;
}
