.invite-container {
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.invite-btn{
    display: inline-block;
    text-decoration: none;
    border-radius: 9px;
    transition: all 150ms;
    cursor: pointer;
    border: none;
    background-color: #007bff;
    color: #fff;
}
.invite-btn:hover {
    color: black;
    background-color: #fdf2e9;
}